<template>
  <button class="btn btn-large" >{{ texto }}</button>
</template>


<script>
export default {
  name: 'Button',
  props: {
    texto: String,
    func: Function
  }
}
</script>

<style>
  .btn {
    background: #04FF00;
    border: 3px solid black;
    font-size: 1.5em;
  }

  .btn:hover {
    background: black;
    color: #04FF00;
  }

  .btn:active {
    background: #1B1F3B;
    color: #82D173;
  }
</style>
