<template>
  <img>
</template>

<script>
  export default {
    name: 'Imagem'
  }
</script>

<style>
  img {
    display: block;
    height: 60vh;
    margin: 0 auto;
    min-height: 60vh;
    width: auto;
  }
</style>
