<template>
  <div class="form-group">
    
    <label for="inputUsr">Escolha seu usuário:</label>
    <input type="text" id="inputUsr" class="form-control" placeholder="seu novo usuário" v-model="valor" v-bind:name="nome" v-validate="'required|unico'">   
    
    <div class="alert alert-danger alerta" role="danger" v-show="errors.has(this.nome)">
      <span>{{ errors.first( this.nome ) }}</span>
    </div>
  
  </div>
</template>

<script>

  import Json from '../../api/Json.js'

  export default {
    
    name: 'InputUsuarioVal',
    
    props: {
      nome: String
    },
    
    data: () => {
      return {
        valor: ''
      }
    },
    
    created() {
      
      this.$validator.extend('unico', {
        
        getMessage() {
          return 'Este usuário já foi cadastrado, escolha outro.'
        },
        
        async validate( value ) {
          const api = new Json()
          return await api.usuarioUnico( value )
        }
      
      } )
    
    }

  }
  
</script>

<style>

  .alerta {
    margin: 2vh;
  }

</style>
