<template>
  <div class="form-group">
    
    <label for="inputSen">Escolha sua senha:</label>
    <input type="password" id="inputSen" class="form-control" placeholder="sua nova senha" v-model="valor" v-bind:name="nome" v-validate="'required|min:6'">   
    
    <div class="alert alert-danger alerta" role="danger" v-show="errors.has(this.nome)">
      <span>{{ errors.first( this.nome ) }}</span>
    </div>
  
  </div>
</template>

<script>

  export default {

    name: 'InputSenhaVal',
    
    props: {
      nome: String
    },
    
    data: () => {
      return {
        valor: ''
      }
    }
    
  }

</script>

<style>

  .alerta {
    margin: 2vh;
  }

</style>
