<template>
  <div class="form-group">
    <label for="inputUsuario">Usuário:</label>
    <input type="text" class="form-control" id="inputUsuario" v-model="valor" placeholder="seu usuário">   
  </div>
</template>

<script>
export default {
  name: 'InputUsuario',
  props: {
    nome: String
  },
  data: () => {
    return {
      valor: ''
    }
  }
}
</script>
