<template>
  <div class="form-group">
    <label for="inputSenha">Senha:</label>
    <input type="password" class="form-control" id="inputSenha" v-model="valor" placeholder="sua senha">
  </div>
</template>

<script>
export default {
  name: 'InputSenha',
  props: {
    senha: String
  },
  data: () => {
    return {
      valor: ''
    }
  }
}
</script>

<style>
.form-group {
  text-align: left;
}

.form-group label {
  color: #06ff03;
  font-family: 'codystar', sans-serif;
  font-size: 2em;
  font-weight: bold;
}

.form-group input {
  background: #1B1F3B;
  border-color: #244F26;
  color: #06ff03;
  font-family: 'prompt', sans-serif;
  font-size: 1.5em;
}

.form-control:focus {
  background-color: #141938;
  border-color: #06ff03;
  box-shadow: 0 0 0 0.2rem rgb(6, 255, 3);
  color: #82D173 ;
}

.form-control::placeholder {
  color: #82D173;
}

.form-control:focus::-webkit-input-placeholder {
    color: #244F26;
}

</style>
 