<template>
  <div id="app" v-on:submit.prevent>
    <nav class="navbar navbar-default" id="head">
      <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#" id="titulo">O ET na Sala</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#" @click="this.irParaLogin">Logar</a></li>
        <li class="active"><a href="#" @click="this.irParaCadastro">Cadastrar</a></li>
      </ul>
      </div>
    </nav>
    <router-view></router-view>
  </div>
</template>

<script>

import Login from './components/screens/Login.vue'

export default {
  name: 'app',
  components: {
    Login
  },
  methods: {
    irParaLogin(){
      this.$router.push( { name: 'login', params: { } } )
    },
    irParaCadastro(){
      this.$router.push( { name: 'cadastro', params: { } } )
    }
  }
}
</script>

<style>
  #app {
    background: black;
    color: #2c3e50;
    font-family: 'Preahvihear', Helvetica, Arial, sans-serif;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  #titulo {
    color: #06ff03;
    font-size: 3em;
    font-family: codystar;
    font-weight: bolder;
  }
  nav {
    height: 10vh;
  }

  .active a {
    color: #06ff03;
  }

  .active a:hover {
    color: #82D173;
  }
</style>
