<template>

    <div id="cadastro">
      <form v-on:submit.prevent="onSubmit">

        <h3>{{ this.textoAtual }}</h3>
        
        <div v-show=" this.textoAtual === this.textoUm ">

          <InputUsuarioVal nome="usuario" ref="usuarioRef"/>
          <InputSenhaVal nome="senha" ref="senhaRef"/>
          <Button texto="Submeter" type="submit"/>
        </div>

        <div v-show=" this.textoAtual === this.textoTres ">
          <Button texto="Login" type="submit"/>
        </div>
      
      </form>
    </div>

</template>

<script>

  import Json from '../../api/Json.js'
  import Button from '../shared/Button.vue'
  import InputUsuarioVal from '../shared/InputUsuarioVal.vue'
  import InputSenhaVal from '../shared/InputSenhaVal.vue'

  export default {

    name: 'Login',
    
    components: {
      Button, InputUsuarioVal, InputSenhaVal
    },
    
    data: () => {
      return {
        textoAtual: 'Entre com seus dados',
        textoUm: 'Entre com seus dados',
        textoDois: 'Carregando...',
        textoTres: 'Cadastro finalizado'
      }
    },
    
    methods: {

      async onSubmit() {

        if( this.textoAtual === this.textoUm) {

          const usuario = this.$refs.usuarioRef.valor
          const senha = this.$refs.senhaRef.valor
          
          const deveCadastrar = await this.podeCadastrar( usuario, senha )
          
          if( deveCadastrar ) {
            //console.log('CADASTRANDO')
            this.cadastrar( usuario, senha )
          }

          //else console.log('NÃO CADASTRANDO')
        
        }
        
        if( this.textoAtual === this.textoTres )
          this.$router.push( { name: 'login', params: { } } )
      
      },
    
      cadastrar(usr, sen) {

        this.textoAtual = this.textoDois
        
        fetch('http://localhost:3000/cadastros/', {
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          method: "POST",
          body: JSON.stringify( {usuario: usr, senha: sen} )
        } )

        .then( setTimeout( () => {
            this.textoAtual = this.textoTres
          }, 2000 ) )
      
      },

      async podeCadastrar(usr, sen) {
        
        if( usr === "" || sen === ""){
          //console.log('CAMPO VAZIO')
          return false
        }

        if( sen.length < 6 ){
          //console.log('SENHA PEQUENA')
          return false
        }

        const api = new Json()
        const usrUnico = await api.usuarioUnico( usr )

        if( ! usrUnico ){
          //console.log('USUARIO REPETIDO')
          return false
        }

        return true

      }

    }
  
  }

</script>

<style>

  #cadastro {
    height: 100vh;
    width: 50vw;
    margin: 0 auto;
  }

  #cadastro h3 {
    color: #06ff03;
    font-size: 2.5em;
    font-family: codystar;
    font-weight: bolder;
    padding: 6vh 0;
  }

</style>
