<template>
  <div class="h-75 row align-items-center">
    <form v-on:submit.prevent="onSubmit" class="center">
      <Button v-bind:texto="textoBotao" type="submit"/>
    </form>
  </div>
</template>

<script>
  import Button from '../shared/Button.vue'

  export default {
    name: 'Inicio',
    components: {
      Button
    },
    data: () => {
      return {
        textoBotao: 'Iniciar jogo',
        usuario: ''
      }
    },
    created() {
      this.usuario = this.$route.params.usuario
    },
    methods: {
      onSubmit() {
        this.$router.push({ name: 'jogo' })
      }
    }
  }
</script>

<style>
  div {
    color: #ffffff;
    font-family: 'prompt', sans-serif;
  }

  #titulo {
    color: #06ff03;
    font-size: 3em;
    font-family: codystar;
    font-weight: bolder;
    border-color: #06ff03;
    border-width: 1em;
  }

  .center {
    margin: 0 auto;
  }

</style>
