<template>
    <div id="login">
      <form>
        <legend>Login</legend>
        <InputUsuario nome="user" ref="usuarioRef"/>
        <InputSenha nome="senha" ref="senhaRef"/>
        <div class="alert alert-danger alerta" role="danger" v-show="this.mostrarAlerta">Algum dos campos está com erros. Por favor, verifique para continuar.</div>

        <button class="btn btn-large" @click="onSubmit()">Entrar</button>
        <button class="btn btn-large" @click="irParaCadastro()">Não sou cadastrado</button>

      </form>
    </div>
</template>
<script>

import InputUsuario from '../shared/InputUsuario.vue'
import InputSenha from '../shared/InputSenha.vue'
import Button from '../shared/Button.vue'
import Json from '../../api/Json';

export default {
  name: 'Login',
  components: {
    InputUsuario, InputSenha, Button
  },
  data: () => {
    return {
      textoBotao: 'Entrar',
      mostrarAlerta: false
    }
  },
  methods: {

    async onSubmit() {

      const usuario = this.$refs.usuarioRef.valor
      const senha = this.$refs.senhaRef.valor
      const api = new Json()

      const existeCadastro = await api.cadastroExiste( usuario, senha )
      if( existeCadastro )
        this.$router.push( { name: 'inicio', params: { usuario } } )

      this.mostrarAlerta = true

    },

    irParaCadastro() {
      this.$router.push( { name: 'cadastro' } )
    }

  }
}
</script>

<style>
  #login {
    width: 60vh;
    margin: 0 auto;
  }

  legend{
    color: #06ff03;
    font-size: 3em;
    font-family: codystar;
    font-weight: bolder;
    padding: 6vh 0;
  }

  .alerta {
    margin: 2vh;
  }

  .btn {
    background: #04FF00;
    border: 3px solid black;
    font-size: 1.5em;
    margin-left: 0.3em;
    margin-right: 0.3em;
    margin: 2px 0;
  }

  .btn:hover {
    background: black;
    border: 3px solid;
    color: #04FF00;
    border: 3px solid;
  }

  .btn:active {
    background: #1B1F3B;
    color: #82D173;
  }
</style>
