<template>
  <div>
    <h1> {{ comodo.nome }}</h1>

    <h3 v-if="chamouAtencao" class="ataque">ELE TE OUVIU E ATACOU DE SURPRESA!!!</h3>
    <Imagem v-bind:src="comodo.foto" v-bind:alt="comodo.nome"/>
    <div class="texto text-justify">
      {{ comodo.descricao }}
    </div>

    <h3 v-if="msgPantufa">Você encontrou uma PANTUFA. Use-a para andar sorrateiramente.</h3>
    <h3 v-if="msgNavalha">Você encontrou uma NAVALHA. Use-a para tentar se defender... Ou não.</h3>
    <h3 v-if="msgFaca">Você encontrou uma FACA. Use-a para matar invasores.</h3>
    <ul class="d-inline-flex">
      <li v-for="opcao in opcoes" :key="opcao.id">
        <div class="btn-group" role="group" aria-label="...">
          <button v-on:click="aceitar(opcao)" v-show="mostrarBotao(opcao)" class="btn btn-large">
            {{ opcao.texto }}
          </button>
        </div>
      </li>
    </ul>

  </div>
</template>

<script>

  import Button from '../shared/Button.vue'
  import Imagem from '../shared/Imagem.vue'
  import Json from '../../api/Json.js'
  import Personagem from '../../models/Personagem.js'

  export default {

    name: 'TelaJogo',

    components: {
      Button, Imagem
    },

    data: () => {
      return {
        texto: '',
        textoBotaoOpcao: '',
        personagem: {},
        comodo: {},
        opcoes: [],
        msgPantufa: false,
        msgNavalha: false,
        msgFaca: false,
        temFaca: false,
        temPantufa: false,
        chamouAtencao: false,
        qtdAcoes: 0
      }
    },

    created () {
      this.personagem = new Personagem ()
      this.personagem.nome = this.$route.params.personagem
      this.carregar(0)
    },

    methods: {

      async carregar(id) {
        const json = new Json()
        const resposta = await json.buscarPorId(id)
        this.comodo = resposta[0]
        this.opcoes = resposta[1]
      },

      async aceitar(opcao) {

        this.qtdAcoes++

        if ( opcao.tipo === 1 ) {
          if ( !this.temPantufa && this.qtdAcoes > 2 ) this.chamouAtencao = Boolean(Math.round(Math.random()))
          if ( this.chamouAtencao ) {
            this.chamouAtencao = true
            this.carregar(7)
            return
          }
          this.carregar( opcao.idComodo )
          this.msgPantufa = false
          this.msgNavalha = false
          this.msgFaca = false
        }

        if ( opcao.tipo === 2 ) {
          const json = new Json()
          const itemAtual = await json.buscarPorItem(opcao.idArma); //ponto e vírgula OBRIGATÓRIOOO
          this.personagem.adicionarItem(itemAtual)
          if ( this.comodo.id === 1 ) {
            this.msgPantufa = true
            this.temPantufa = true
          }
          else if ( this.comodo.id === 3 ) {
            this.msgNavalha = true
          }
          else if ( this.comodo.id === 5 ) {
            this.msgFaca = true
            this.temFaca = true
          }
        }
        if ( opcao.tipo === 3 ) {
          this.temFaca ? this.carregar(6) : this.carregar(7)
        }
      },

      mostrarBotao( opcao ) {
        if ( opcao.tipo !== 2 )
          return true
        else if ( this.personagem.temItemPorId(opcao.idArma) )
          return false
        else
          return true
      },

      mostrarMensagem() {
        let provisoria = false
        for ( let opcao of opcoes ) {
          if ( opcao.tipo === 2 )
            provisoria = true
        }
        return provisoria && this.coletadoOuNao
      }

    }
  }
</script>

<style>

  ul {
    list-style-type: none;
    padding-left: 0;
    align-items: center;
  }

  .texto {
    margin: 0 auto;
    padding: 3% 0;
    width: 65vw;
  }

  .ataque {
    color: red;
    font-weight: bold;
  }
</style>
